<div class='card'>
        <img class='card-image' src={{products.img}} alt={{products.title}} />
        
        <div class='card-content'>
            <h3 class='card-name'>{{products.title}}</h3>
            <p class='card-tipo'>{{products.category}}</p>
        </div>
        <div class='card-footer'>
            <p class='card-price'>${{products.price}}</p>
            <div class="card-cart">
                
            </div>
            <div class='card-stock'><p>stock= {{products.stock}}</p></div>
        </div>
        <Link to={`/detalle/${info.id}`} class='card-container'>
        <button class='icon-btn add-btn'>
                    <div class='add-icon'></div>
                    <div class='btn-txt'>Add To Cart</div>
                </button>
        </Link>
    </div>
