<div>
    <h1>Usuario</h1>
    <p>Nombre : {{user.name}}</p>
    <p>Apellido : {{user.lastname}}</p>
    <p>Edad : {{user.age}}</p>
    <p>Email : {{user.email}}</p>
    <p>Telefono : {{user.phone}}</p>
    

</div>